<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link type="stylesheet" href="index.css">
    <title>Document</title>
</head>
<style>
    body {
        margin: 0px;
        padding: 0px;
    }

    .header-top{
        background-color: #555;
        color: white;
        margin: 0px;
        padding: 20px;
    }

    .header-top>h1{
        margin-top: 0px;
    }
    .header-top>h2{
        font-size: 300;
    }
.container{
background-color: black;
color: white;
margin: 0px;
padding: 20px;
}
.header-bottom>h1{
margin-top: 0px;
}

    
</style>
<body style="background-color:wheat" class="main_body">
    <body style="background-image:C\Users\user\Downloads\downloadjpg class=">
    
    
    </body>
<div class="header-top">
    <h1>Primary School</h1> 
    <h2>Kenyan Primary Eduacational institution Directory</h2>

    
</body>
</div>
      
      
    
    <font color="black">
    <h1>Kirungu Primary School.</h1>
    </font>
    <h2>BEST PLACE TO BE</h2>
    <font color="black">
    <p>It Can Be Done Play Your Part.</p>
    </font>
    
    <font color="black">
    <p>We Believe In An Eduacation Enriched with character.</p>
    </font>
    <img src="C:\Users\user\Downloads\istockphoto-471871179-612x612 (1).jpg" alt="student">
    <font color="black" font size="3px">
    <p>Welcome to Kirungu Primary School a<br>
        happy and successful learning community<br>
        where every pupil is recognised as an individual<br>
        and where we aim for all to reach their potential.<br>
        We believe that every child has a talent <br>
        and can experience success as they<br>
        grow and develop,through the supportive and caring<br>
        environment we provide.</p></font>
        <br>
        <h1>SCHOOL PROFILE</h1>
        <p>Kirungu Primary School is a public primary school<br>
            in Kamacharia location.<br>
            The school is managed/sponsored by central government.<br>
            The institution offers Kenya Certifiacate Of Primary Education(KCPE)<br>
            which is controlled by the Kenya National Examination Council(KNEC)under <br>
            Ministry of Education.</p>

            <h1>School Details</h1>
            <font color="black">
            <p>EDUCATIONAL INSTITUTE NAME:<br>
            Kirungu Primary School</p>
            </font>
            
            <font style="font-family: 'Times New Roman', Times, serif;">
            <p>SPONSORED/MANAGED BY:<br>
                Central Government/DEB</p>
                </font>
                <p>STATUS:<br>
                    Public School</p>  

    <p>EDUCATION SYSTEM:<br>
        8-4-4(Eight Years of primary education,Four<br>
        years of secondary education and four years of <br>
        university education)</p>

        <div style="margin: left 40%; text-align: center;">
        <h1>Educational Institution<br>
            Infrastructure</h1>
            <p>CLASSROOM=8</p>
                <p>WASHROOMS<br>
                    Boys=12
                    <br>
                    Girls=12
                    Teachers=2</p>
                    <font size="2px">
                    <h1>Primary Teaching and non<br>
                        teaching staffs</h1></font>
                        <font style="font-family: Arial, Helvetica, sans-serif;">
                        <p>GOK TSC FEMALE TEACHERS =3<br>
                            
                            GOK TSC MALE TEACHEERS=6<br>
                            
                            NON-TEACHING MALE STAFF=1<br>
                            </p></font>
                            <font size="2px">
                            <h1>SCHOOL HOURS</h1>
                        </font>
                            <P>Based on Basic Eduacation<br>
                                Regulations 2014 of Ministry of Education,<br>
                                the official public or private elementary school working<br>
                                hours are as follows:<br>
                                .Class hours 8:00am to 3:30pm<br>
                                .Games,club and co-curricullar activities hours,3:30pm to 4:45pm</P>
                                <br>
                                <font size="3px">
                                <h1>School Results</h1>
                                <font>
                                <p>To view online Kirungu Primary School<br>
                                    results slips visit www.knecpotal.ac.ke website.<br>
                                    For additional related information kindly visit the official<br>
                                    website portal of Kenyan National Examination Coucil(KNEC)at www.knec.ac.ke</p>
                                </div>
                                    
                                    <button style="background-color: gray;border-color: white; cursor: pointer;"><a href="{% url 'comment' %}" style="text-decoration: none; font-weight: bold;">Comment</a></button>
                                    
                                    <br>
                                    <br>
                                    <div class="container">
                                    <font color="white">
                                        <font size="1px">
                                            
                                    <h1>Kirungu Primary School.<br>
                                        It can be done play your part</h1>
                                        </font>
                                        <br>
                                        <font style="font-family: Georgia, 'Times New Roman', Times, serif">
                                        <p>Get connected with the school</p></font>
                                        <img src="C:\Users\user\Downloads\pngtree-facebook-icon-png-image_3566127.png"height="50px" alt="facebook">
                                    
          <img src="C:\Users\user\Downloads\Twitter-logo.svg.png"height="50px" alt="twitter">  
          <img src="C:\Users\user\Downloads\3Bg-2ZsT_400x400.jpg" height="50px"alt="instagram">
          
                 
          <br>
          
                                    </font>       </div>   

</body>
</html>